@page "/account/myOrders"
@rendermode InteractiveAuto

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0, 0.2);
        margin: auto;
        text-align: center;
        font-family: Arial;
    }

    .modal {
        position: fixed;
        z-index: 9;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgb(0,0,0);
        background-color: rgb(0,0,0,0.4);
        display: grid;
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        overflow: hidden;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .Paginator {
        display: flex;
        /* border-top: 1px solid #ccc; */
        /* margin-top: 0.5rem; */
        /* padding: 0.25rem 0; */
        align-items: center;
    }
</style>

<div class="container">
    <div class="card">
        <h4 class="card-header">Orders History</h4>
        <div class="card-body">
            <QuickGrid Items="customerOrders!.AsQueryable()" Pagination="@pagination" class="table table-bordered table-striped table-hover">
                <PropertyColumn Property="@(c => c.OrderId)" Title="Order" Sortable="true" Align="Align.Center" />
                <PropertyColumn Property="@(c => c.TotalPrice.ToString("₦#,##"))" Title="Total" Align="Align.Center" />
                <PropertyColumn Property="@(c => c.CreatedDate)" Title="Order Date" Align="Align.Center" />
                <TemplateColumn Align="Align.Center" Title="Track">
                    <input type="button" class="btn btn-Primary" value="Track" @onclick="(() => TrackOrder(context.OrderId!))" />
                </TemplateColumn>
                <TemplateColumn Align="Align.Center" Title="Details">
                    <input type="button" class="btn btn-primary" value="Detail" @onclick="(() => GetOrderDetails(context.OrderId!))" />
                </TemplateColumn>
            </QuickGrid>
        </div>
    </div>
</div>




@if (showAlertMessage == true)
{
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Alert</h5>
                <span class="close" @onclick="ToggleAlertMessage">&times;</span>
            </div>
            <div class="modal-body">
                @alertMessage
            </div>
            <div class="modal-footer">
                <input type="button" class="btn-checkout btn-primary" value="Close" @onclick="ToggleAlertMessage" />
            </div>
        </div>
    </div>
}

@if (showTrackOrder == true)
{
    <div class="modal align-contents-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Track Order</h5>
                <span class="close" @onclick="ToggleTrackOrderPopup">&times;</span>
            </div>
            <div class="modal-body">
                @if (shippingUpdates != null && shippingUpdates.Count > 0)
                {
                    <table>
                        <tbody>
                            @foreach (var ord in shippingUpdates)
                            {
                                <tr>
                                    <td>@ord</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span> No update on order shipping. please check after some time</span>
                }
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" value="Close" @onclick="ToggleTrackOrderPopup" />
            </div>
        </div>
    </div>
}

@if (showOrderDetail == true)
{
    <div class="modal align-contents-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Order Details</h5>
                <span class="close" @onclick="ToggleOrderDetailPopup">&times;</span>
            </div>
            <div class="modal-body">
                @if (myCart != null && myCart.Count > 0)
                {
                    <table class="table table-bordered">
                        @foreach (var cart in myCart)
                        {
                            <tr>
                                <td style="padding:0px;">
                                    <img src="@cart.ProduuctImageUrl" alt="@cart.ProductName" style="width:50px;" />
                                    <div>
                                        <p>@cart.ProductName</p>
                                    </div>
                                </td>
                                <td style="padding:0px;">@cart.Qty & @cart.Price</td>
                                <td style="padding:0px;">₦@(cart.Price * cart.Qty)</td>
                            </tr>
                        }
                    </table>

                    <table style="width:550px; border: 1px ridge #f5750d;">
                        <tr>
                            <td>Subtotal - @subTotal.ToString("₦#,##")</td>
                            <td>ShippingCharges - @shippingCharges.ToString("₦#,##")</td>
                        </tr>
                        <tr>
                            <td>Total - @finalTotal.ToString("₦#,##")</td>
                            <td>Shipping Address - @shippingAddress</td>
                        </tr>
                        <tr>
                            <td>PaymentMode - @paymentMode</td>
                        </tr>
                    </table>
                }
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" value="Close" @onclick="ToggleOrderDetailPopup" />
            </div>
        </div>
    </div>
}

@code {
    private List<OrderDTO>? customerOrders;
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    public List<CartItemDto>? myCart { get; set; }
    private string? userKey;
    private bool showTrackOrder = false;
    private bool showOrderDetail = false;
    private bool showAlertMessage = false;
    public string? shippingAddress { get; set; }
    public decimal shippingCharges { get; set; }
    public string? paymentMode { get; set; }
    public decimal subTotal { get; set; }
    public decimal finalTotal { get; set; }
    private string alertMessage = string.Empty;
    public List<string>? shippingUpdates { get; set; }

    protected async override Task OnInitializedAsync()
    {
        customerOrders = new List<OrderDTO>();
        CustomClaims claims = DecryptJwtToken.GetClaims(JWTModel.JWTToken);
        userKey = claims.id;
        await GetOrderByCustomerId(userKey);
    }

    private async Task GetOrderDetailForCustomer(string customerId, string order_number)
    {
        myCart = await ClientService.GetOrderDetailForCustomer(customerId, order_number);

        if (myCart != null && myCart.Count > 0)
        {
            shippingAddress = myCart.FirstOrDefault()!.ShippingAddress;
            shippingCharges = myCart.FirstOrDefault()!.ShippingCharges;
            subTotal = myCart.FirstOrDefault()!.SubTotal;
            finalTotal = myCart.FirstOrDefault()!.Total;
            paymentMode = myCart.FirstOrDefault()!.PaymentMode;

        }
    }

    async Task GetOrderByCustomerId(string customerId)
    {
        if (customerOrders!.Count == 0)
        {
            customerOrders = await ClientService.GetOrdersByCustomerId(customerId);
        }
    }

    private async Task GetOrderDetails(string order_number)
    {
        await GetOrderDetailForCustomer(userKey!, order_number);
        ToggleOrderDetailPopup();
    }

    private async Task TrackOrder(string order_number)
    {
        shippingUpdates = await ClientService.GetShippingStatusForOrder(order_number);
        ToggleTrackOrderPopup();
    }

    private void ToggleAlertMessage()
    {
        showAlertMessage = showAlertMessage == true ? false : true;
    }

    private void ToggleTrackOrderPopup()
    {
        showTrackOrder = showTrackOrder == true ? false : true;
    }

    private void ToggleOrderDetailPopup()
    {
        showOrderDetail = showOrderDetail == true ? false : true;
    }
}
